.chat_header {
    width: 100%;
    display: grid;
    grid-template-areas: "header header" "room user";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.title {
    grid-area: header;
    justify-self: center;

    font-size: 20px;
    font-weight: 600;
}

.room-info {
    grid-area: room;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.user-info {
    grid-area: user;
    justify-self: end;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.leave-btn {
    margin-top: 5px;
    background-color: #ccc;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.leave-btn:hover {
    background-color: #999;
}

.hint {
    width: 50px;
    margin-left: 5px;
    background-color: #333;
    color: aliceblue;
    padding: 2px;
    border-radius: 10px;
    font-size: 10pt;
    animation: disappearance 2s 1 ease-in;
}

@keyframes disappearance {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.users-list {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-width: 80px;
    border: 1px solid #999;
}

.users-list > span {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #999999;
}