
.login-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    font-size: 2em;
    margin-bottom: 20px;
}

.login-input {
    width: 300px;
    height: 30px;
    border: 2px solid #1E8000;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.login-input.error {
    border-color: #aa2222;
}

.login-input:focus, .login-btn:focus {
    outline: none;
}

.login-btn {
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.login-btn:hover {
    background-color: #999;
}

.login-btn.disabled {
    border-color: #999999;
    color: #999999;
}

.login-btn.disabled:hover {
    background-color: #ccc;
}