
.message-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
}

.msg {
    min-width: 150px;
    max-width: 300px;
    width: fit-content;
    display: grid;
    grid-template-rows: 25px auto 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.msg-header {
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

.msg-footer {
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: 200;
    font-size: 10pt;
}

.sys-msg {
    align-self: center;
    min-width: 150px;
    max-width: 300px;
    width: fit-content;
    display: grid;
    grid-template-rows: 25px auto 20px;
    margin-bottom: 10px;
}