
.input-msg-wrapper {
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.controls {
    margin-left: 10px;
}

.controls > button {
    background-color: #ccc;
    width: 80px;
    height: 30pt;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    outline: none;
}

.controls > button:hover {
    background-color: #999;
}

.msg-input {
    width: 80%;
    max-width: 1000px;
    height: 100%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    padding: 5px;
    word-break: break-word;
    resize: none;
}

.msg-input:focus {
    outline: none;
}