
.home-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header {
    font-size: 2em;
    margin-bottom: 20px;
}

.home-link {
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.home-link:hover {
    background-color: #999;
}

.chat_id-input {
    width: 300px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.chat_id-input:focus, .home-link:focus {
    outline: none;
}